@import url('https://fonts.googleapis.com/css2?family=Roboto: 400,700=swap');

:root {
    --pirmary-color:#7159c1;
}

* {
    margin:0;
    padding: 0;
    border: none;
  }

body{
    background-color: #7159c1;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}
.links {
    font-size: 22px;
}

.links a + a {
     margin-left: 32px;
     
}
.links a {
    text-decoration: none;
    color:#777;
    position: relative;
}
.links a.active{
    font-weight: bold;
    color: var(--pirmary-color);
}
.links a:hover{
    
    color: var(--pirmary-color);
}
.links a::after{
    content:"";
    width: 0%;
    height:2px;
    background-color: var(--pirmary-color);
    position: absolute;
    left: 0;
    bottom: 0;
}
.links a:hover::after {
   width: 100%;
   transition: width 200ms ease-in-out;
}